* {
  zoom: 100%;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(15deg, rgb(7, 25, 61) 0%, rgba(143, 5, 60, 0.79) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}


.grid {
  /* position: fixed; */
  width: 970px;
  height: 500px;
  border: solid 1px black;
  margin: 135px;
  margin-left: 480px;
  margin-bottom: 88px;
  background-color: rgb(0, 0, 0);
     border: 10px solid white;
     box-shadow: inset;
}

.user {
  position:absolute;
  width: 200px;
  height: 40px;
margin: 98px;
    margin-left: 490px;
  background-color: rgb(5, 110, 143);
}

.block {
  position:absolute;   
  width: 190px;
  height: 40px;
margin: 98px;
    margin-left: 490px;
background: linear-gradient(15deg, rgb(194, 197, 26) 0%, rgba(61, 188, 7, 0.781) 100%);
}

.ball {
  position:absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
margin: 98px;
    margin-left: 490px;
  background-color: red;
}
nav {
    color: white;
    background: linear-gradient(15deg, rgb(37, 5, 47) 0%, rgba(24, 2, 59, 0.781) 100%);
    padding: 0.5rem;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: inset;
}
.container h1{
    color: white;
    padding:1rem ;
    padding-top: 0;
}
#score{
    border:5px solid white;
    margin-left: 30px;
    color: rgb(209, 187, 45);
    padding: 20px;
    font-size: 30px;
    background-color: rgba(27, 120, 58, 0.354);
    
}

#result{
  position: absolute;
  border-radius:  20px ;
    margin-left: 700px;
    margin-top: 280px;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 130px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    z-index: 4;
  
 
}

#play{
  position: absolute;
    border-radius: 20px;
    margin-left: 800px;
    color: rgb(240, 203, 17);
    background-color: black;
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    z-index: 4;
}

#play:hover{
  background-color: orangered;
  transform: scale(1.1);
  border-color: orangered;
}